body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgb(246, 246, 246);
    color: rgb(48, 47, 47);
}

h1 {
    font-size: clamp(2rem, 7vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 5vw, 3rem); 
}

h3 {
    font-size: clamp(1.2rem, 4vw, 2.5rem);
}




/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 50px 40px 50px;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    position: relative;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.menu-toggle {
    display: none;
}
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgb(48, 47, 47);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul { 
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 10px 0;
    z-index: 10;
}

nav ul li ul li a {
    padding: 10px 15px;
    white-space: nowrap;
}

@media (max-width: 768px){
    .hamburger{
        display: block;
    }
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        padding: 10px 0;
    }
    .menu-toggle:checked + .hamburger + nav ul {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }
    nav ul li ul {
        position: relative;
        left: 0;
        box-shadow: none;
    }

}

/* Main Section */
.main-section {
    background-color: lightgrey;
    text-align: center;
    padding: 200px 20px;
}

.main-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main-section p {
    font-size: 19px;
    font-weight: bold;
    color: rgb(48, 47, 47);
    margin-bottom: 30px;
}

.main-section .cta-button {
    background-color: rgb(48, 47, 47);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.main-section .cta-button:hover {
    background-color: rgb(45, 45, 45);
}

/* Info Cards Section */
.info-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 100px 50px 100px 50px;
}

.info-card {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3);
}

.info-card .number {
    font-size: 36px;
    font-weight: bold;
}

.info-card p {
    margin: 0;
    font-size: 8px;
}

.red-card {
    background-color: rgb(255, 84, 68);
}

.purple-card {
    background-color: rgb(170, 45, 182);
}

.cyan-card {
    background-color: rgb(30, 194, 164);
}

.blue-card {
    background-color: rgb(39, 139, 224);
}

/* Demo Section */
.demo-section {
    background-color: lightgrey;
    text-align: center;
    padding: 50px 20px;
}

.demo-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-button {
    background-color: rgb(190, 187, 187);
    color: rgb(48, 47, 47);
    border: 1px solid rgb(191, 185, 185);
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
}

.filter-button:hover,
.filter-button.active {
    background-color: rgb(48, 47, 47);
    color: white;
}

/* Gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 100px 200px;
}

.image-card {
    background-color: rgb(237, 234, 234);
    flex: 0 1 calc(33.33% - 50px);
    max-width: calc(33.33% - 50px);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 0 10px 0;
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, 0.3);
    text-align: center;
}

.image-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-card:hover {
    border: 2px solid rgb(45, 45, 45);
}

.image-card h3 {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Features Section */
.features {
    text-align: center;
    padding: 80px;
}

.features-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.features-subtitle {
    font-size: 19px;
    margin-bottom: 20px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    max-width: 1200px;
}

.features-column {
    list-style: none;
    padding: 0;
    text-align: left;
}

.features-column li {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.features-column img {
    margin-right: 10px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
}

.footer-content {
    margin: 40px 0 80px 0;
}

.footer-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: rgb(45, 45, 45);
}

.footer-bottom {
    background-color: #000;
    padding: 20px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    font-size: 12px;
    margin: 5px 30px;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 1024px) {
    nav ul {
        flex-direction: column;
    }

    .image-gallery {
        padding: 50px 20px;
    }
}

@media (max-width: 768px) {
    .info-cards {
        flex-direction: column;
        align-items: center;
    }

    .image-card {
        flex: 0 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .features-list {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .image-card {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .main-section {
        padding: 100px 20px;
    }

    
}